<% content_for :title, "FitQik About Us" %>

<div class="large-8 columns" id="sidebar">
  <div class="panel radius">
    <H4>Why we do what we do</H4>
    <p>
    FitQik is dedicated to offering a wide range of one-on-one, personalized, health and fitness training using live video streaming. We strive to deliver the highest quality instruction at affordable prices with the convenience of a flexible schedule.
    </P>
  </div>
</div>
<div class="large-4 columns" id="sidebar">
</div>

