<div class="center hero-unit">

	<h1>Welcome to FitQik</h1>

<BR>

<%= image_tag("homepage.png", :width => 500) %>

<BR>
<BR>

	<%= link_to "Sign up now!", new_user_session_path, class: "btn btn-large btn-primary" %>
</div>

	
